projects/
docker/logs/
docker/nginx/
docker/php-fpm/
docker/app/
!docker/app/Dockerfile
!docker/nginx/Dockerfile
!docker/php-fpm/Dockerfile
docker/docker-compose.yml

!docker/**/Dockerfile
!docker/nginx/nginx.
!docker/php-fpm/bin/entrypoint.sh
